<p id="notice"><%= notice %></p>
    <% content_for :title do %>
    	Physician Search
    <% end %>
    <section id="search-section">
        <div id="search-container">
	        <h1>Guided Search</h1>
	        <div id="search-menu">
	        	
	        </div>
	    </div>
    </section>