    <% content_for :title do %>
    	
    <% end %>
    <% content_for :list do %>
      <%= link_to 'List', new_physician_path %>
    <% end %>
    <section id="home-section">
        <div id="home-container">
	        <h1>What are you Looking2 do today?</h1>
	        <div id="home-menu">
	        	<%= link_to 'Physician Search', physicians_path %>
                <%= link_to 'Restaurants Search', physicians_path %>
                <%= link_to 'Gigs Search', physicians_path %>
	        </div>
	    </div>
    </section>
