/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	margin-left: 20px;
}
#main-header{
	display: inline-block;
}
#main-header div{
	display: inline;
	background-color: red;
}
#main-nav ul{
	display: inline;
	list-style: none;
	padding: 1em 0;
	background-color: red;
}
#main-nav li{
	display:inline;
}
#main-nav a{
	padding:1em 2em;
	text-decoration: none;
	color: white;
}